@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* General Style */
html {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  /* background-color: #ffffff; */
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.link-btn {
    text-align: center;
    font-size: 13px;
    display: block;
    background-color: #00539C;
    color: #f2f2f2;
    border-radius: 5px;
    border: 2;
    border-color: #00539C;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
    padding: 5px 10px;
    width: 80px;
    transition: all .5s;
}

.link-btn:hover {
    background-color: white;
    color: rgb(0, 106, 199);
}

.center-btn {
    margin: auto auto;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 8px 25%;
}

/* Utility Classes */
.link {
    transition: text-decoration 1s;
    color: rgb(0, 106, 199);
}

.link:hover {
    text-decoration: underline;
}

.img-left {
    margin: 8px 3% 8px 25%;
    float: left;
}

.img-mid {
    float: left;
    margin: 8px 1% 8px 25%;
}

.img-right {
    margin: 8px 25% 8px 3% ;
    float: left;
}

.center {
    text-align: center;
}

.left-text {
    text-align: left;
    margin: 0;
}

.circle {
    border-radius: 30px;
    box-shadow: 10px 10px 15px #ccc;
}

.small {
    height: 8rem;
}

.medium {
    height: 12rem;
}

.large {
    height: 16rem;
    display: block;
    margin: auto auto;
}

.caption {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-style: italic;
    font-size: 13px;
    max-width: 30%;
}

.giant-br {
    padding-top: 42vh;
}

.large-br {
    padding-top: 100px;
}

.medium-br {
    padding-top: 50px;
}

.small-br {
    padding-top: 20px;
}

.tiny-br {
    padding-top: 10px;
}

/* Header Styles */
.title {
    margin: 25px 25% 5px;
}

.subtitle {
    color: #444;
    margin: 5px 25% 5px;
}

.main {
    text-align: center;
    font-size: 4rem;
}

.welcome {
    background-size: cover; 
    background-image: url('img/Rocket Test Launch.jpg'); 
    margin:0;
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-text {
    margin-left: 30%;
    padding-top: 7%;
    margin-right: 0;
    font-size: 5rem;
    max-width: 9999%;
    color: #f2f2f2;
    text-shadow: 0px 10px 15px #22222233;
    position: static;
}

.welcome-caption {
    margin-left: 30%;
    padding-top: 10px;
    margin-right: 0;
    font-size: 3rem;
    max-width: 9999%;
    color: #f2f2f2;
    text-shadow: 0px 10px 15px #22222233;
    position: static;
}

.pill {
    width: 30px;
    height: 5px;
    background-color: #666;
    border-color: #666;
    border-radius: 30px;
    border-width: 0;
}

/* Flex Grid */
.flex-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10%;
}

.flex-card {
    margin: 15px 0px;
    align-items: flex-start;
    flex: 2 50%;
    display: flex;
}

.flex-mid-card {
    margin-top: 30px;
}

.flex-card p, .flex-card h2, .flex-card h3, .flex-card h5 {
    margin: 0 20px 0 0px;
}

.flex-card img {
    margin-left: 17.5%;
}

.flex-mid-card p, .flex-mid-card h2, .flex-mid-card h3, .flex-card h5 {
    margin: 0 0 0 25%;
    padding: 0;
}

.flex-mid-card button {
    margin-left: 20%;
}

.flex-mid-card p {
    max-width: 50%;
}


.flex-card p, .flex-card h2, .flex-card h3, .flex-card h5{
    margin: 0 0px 0 10px;
}


.flex-grid li {
    list-style-type: none;
}

.no-img {
    margin-left: 20%;
}

.flex-no-img .flex-card {
    max-width: 40%;
}

/* Navbar Style */
.navbar {
    background-color: #00539C;
    overflow: hidden;
    box-shadow: 0px 10px 15px #22222233;
}

.navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 16px;
    font-size: 15px;
    transition: background-color .5s color .5s;
}

#brand {
    float: left;
    padding: 0;
    margin: 0;
}

#brand:hover {
    background-color: #00539C;
    color: #f2f2f2;
}

.navbar a:hover {
    background-color: #f2f2f2;
    color: rgb(0, 106, 199);
}

.navbar a.active {
    background-color: rgb(0, 106, 199);
    color: white;
}

.navbar a.active:hover {
    background-color: #f2f2f2;
    color: rgb(0, 106, 199);
}

footer {
    padding-left: 7rem;
    color: #f2f2f2;
    background-color: #00539C;
    margin: 0;
    box-shadow: 0px -10px 15px #22222233;
}

.right-foot {
    float: right;
    padding-right: 7rem;;
}

.sticky {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 96%;
}

.sticky-nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.foot span {
    border: 20px;
}

.linkedin {
    height: 25px; 
    margin-right:20px;
    margin-top: 0px;
    vertical-align: middle;
    filter: brightness(0) invert(1);
    transition: all .5s;
}

.four-o-four {
    text-align: center;
    font-size: 10rem;
}

.gpa {
    position: relative;
    text-align: center;
}

.gpa-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #00539C; 
    transform: translate(-50%, -50%);
  }

.list {
    margin-left: 25%;
}

.list li {
    list-style-type: disc;
}

.document {
    width: 100%;
    height: 55rem;
}