/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#focusSelect {
  position: fixed;
  z-index: 1;
  top: 1em;
  left: 5em;
  color: azure;
  background-color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}